body {
    color:purple;
    font-size: 15px;
}

h2 {
    background-color:orange;
    width:50%;color:white;
    padding:15px;
}

.fruit {
    color: grey;
}

.car {
    color: pink;
}

#welcome {
    color:yellowgreen;
    font-size:50px;
}

.box {
    display:inline;   
    border-style: solid;   
    width:7%;
 }